// Tabs Component - SCSS
// Material Design 3 tabs

// The primary variant has not yet been implemented.

@use 'variables' as *;
@use 'mixins' as *;

.tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  @include bg-color(surface);
  @include fg-color(on-surface);

  width: 100%;

  a,
  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    border: none;
    outline: none;
    user-select: none;
    text-decoration: none;
    line-height: $spacing-24px;

    height: $spacing-48px;
    flex-grow: 1;
    gap: $spacing-4px;
    border-top: $spacing-1px solid
      light-dark(var(--color-light-surface), var(--color-dark-surface));
    border-bottom: $spacing-1px solid
      light-dark(
        var(--color-light-outline-variant),
        var(--color-dark-outline-variant)
      );

    cursor: pointer;

    @include fg-color(on-surface-variant);

    img,
    svg {
      @include square-size($spacing-24px);
      padding: 0 $spacing-4px;
    }

    &.active {
      @include fg-color(on-surface);
      border-top: $spacing-2px solid
        light-dark(var(--color-light-surface), var(--color-dark-surface));
      border-bottom: $spacing-2px solid
        light-dark(var(--color-light-primary), var(--color-dark-primary));
    }

    &:hover::after {
      @include state-overlay(on-surface, $opacity-hovered);
    }
  }
}
