// Text Field Component - SCSS Refactored
// Material Design 3 text fields with filled and outlined variants

@use 'variables' as *;
@use 'mixins' as *;

$textfield-height: $spacing-56px;

// Mixins
@mixin placeholder-small {
  font-size: $spacing-12px;
  @include fg-color(on-surface-variant);
  display: block;
  line-height: $spacing-16px;
  max-height: $spacing-16px;

  @include one-line-truncate;
}

@mixin error-color {
  @include fg-color(error);
}

@mixin error-border {
  border-color: light-dark(var(--color-light-error), var(--color-dark-error));
}

@mixin error-outline {
  outline-color: light-dark(var(--color-light-error), var(--color-dark-error));
}

// Text Field Component
.textfield {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  min-height: $textfield-height;
  margin: 0;
  padding: 0 $spacing-12px;
  gap: $spacing-12px;
  background-color: transparent;

  label:not(:has(input)):not(:has(textarea)) {
    line-height: $spacing-16px;
    max-height: $spacing-16px;
    font-size: $spacing-12px;
    @include one-line-truncate;
  }

  &:has(input:not(:focus):placeholder-shown),
  &:has(textarea:not(:focus):placeholder-shown) {
    label:not(:has(input)):not(:has(textarea)) {
      display: none;
    }
  }

  &:has(input:not([type='checkbox']):not([type='radio']):focus),
  &:has(
    input:not([type='checkbox']):not([type='radio']):not(:placeholder-shown)
  ),
  &:has(textarea:not(:placeholder-shown)) {
    label:not(:has(input)):not(:has(textarea)) {
      display: inline-block;
      @include fg-color(on-surface-variant);
    }

    &.error {
      label:not(:has(input)):not(:has(textarea)) {
        @include error-color;
      }
    }
  }

  input:not([type='checkbox']):not([type='radio']),
  textarea {
    &:focus,
    &:not(:placeholder-shown) {
      &::placeholder {
        color: transparent;
      }
    }

    &,
    &:focus,
    &:focus-visible,
    &:hover,
    &:active {
      border: none;
      outline: none;
      padding: 0;
      margin: 0;
      background-color: transparent;
      z-index: 1;
    }

    &::placeholder {
      @include fg-color(on-surface-variant);
      @include one-line-truncate;
    }
  }

  input:not([type='checkbox']):not([type='radio']) {
    height: $spacing-24px;
    width: 100%;
  }

  &:has(
      input:not([type='checkbox']):not([type='radio']):not(
          :focus
        ):placeholder-shown
    ).error,
  &:has(textarea:not(:focus):placeholder-shown).error {
    input:not([type='checkbox']):not([type='radio'])::placeholder {
      @include error-color;
    }
  }

  svg,
  img,
  button,
  a,
  label:has(input),
  label:has(textarea) {
    @include square-size($spacing-24px);
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: light-dark(
      var(--color-light-on-surface-variant),
      var(--color-dark-on-surface-variant)
    );
  }

  label {
    input,
    textarea {
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      border: none;
      outline: none;
      box-shadow: none;
      appearance: none;
      position: absolute;
    }
  }

  // Supporting text
  & > div,
  & > span {
    position: absolute;
    bottom: -$spacing-18px;
    left: $spacing-12px;
    font-size: $spacing-12px;
    display: block;
    line-height: $spacing-16px;
    max-height: $spacing-16px;
    max-width: calc(100% - $spacing-32px);

    @include one-line-truncate;
  }

  &:has(> div),
  &:has(> span) {
    margin-bottom: $spacing-16px;
  }

  // Error states
  &.error {
    & > div,
    & > span {
      @include error-color;
    }

    // Error icon styling
    svg:not(:first-child),
    img:not(:first-child) {
      @include error-color;
    }
  }

  // Filled variant
  &.filled {
    border-top-left-radius: $spacing-4px;
    border-top-right-radius: $spacing-4px;
    @include bg-color(surface-container-highest);
    border-bottom: $spacing-1px solid
      light-dark(
        var(--color-light-on-surface-variant),
        var(--color-dark-on-surface-variant)
      );

    &:has(input:not([type='checkbox']):not([type='radio']):focus)::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: $spacing-3px solid
        light-dark(var(--color-light-primary), var(--color-dark-primary));
    }

    &:has(input:not([type='checkbox']):not([type='radio']):focus),
    &:has(
      input:not([type='checkbox']):not([type='radio']):not(:placeholder-shown)
    ),
    &:has(textarea:focus),
    &:has(textarea:not(:placeholder-shown)) {
      input:not([type='checkbox']):not([type='radio']),
      textarea {
        margin-top: $spacing-16px;
      }
    }

    textarea {
      height: auto;
      width: 100%;

      &,
      &:hover,
      &:active {
        padding-top: $spacing-24px;
      }

      &:focus,
      &:focus-visible,
      &:not(:placeholder-shown) {
        padding-top: $spacing-8px;
      }
    }

    label:not(:has(input)):not(:has(textarea)) {
      position: absolute;
      top: $spacing-8px;
      left: $spacing-12px;
      padding: 0 $spacing-4px;
      max-width: calc(100% - $spacing-24px);
    }

    svg + label:not(:has(input)):not(:has(textarea)),
    img + label:not(:has(input)):not(:has(textarea)),
    button + label:not(:has(input)):not(:has(textarea)),
    a + label:not(:has(input)):not(:has(textarea)),
    label:has(input) + label:not(:has(input)):not(:has(textarea)) {
      left: $spacing-44px;
      max-width: calc(100% - $spacing-44px);
    }

    &:has(input + svg),
    &:has(input + img),
    &:has(input + button),
    &:has(input + a),
    &:has(input + label:has(input)),
    &:has(textarea + svg),
    &:has(textarea + img),
    &:has(textarea + button),
    &:has(textarea + a),
    &:has(textarea + label:has(textarea)) {
      label:not(:has(input)):not(:has(textarea)) {
        max-width: calc(100% - $spacing-44px);
      }

      svg + label:not(:has(input)):not(:has(textarea)),
      img + label:not(:has(input)):not(:has(textarea)),
      button + label:not(:has(input)):not(:has(textarea)),
      a + label:not(:has(input)):not(:has(textarea)),
      label:has(input) + label:not(:has(input)):not(:has(textarea)) {
        max-width: calc(100% - $spacing-44px - $spacing-44px);
      }
    }

    &.error {
      @include error-border;

      &:has(input:not([type='checkbox']):not([type='radio']):focus)::after,
      &:has(
          input:not([type='checkbox']):not([type='radio']):not(
              :placeholder-shown
            )
        )::after,
      &:has(textarea:focus)::after,
      &:has(textarea:not(:placeholder-shown))::after {
        @include error-border;
      }
    }
  }

  // Outlined variant
  &.outlined {
    border-radius: $spacing-4px;
    outline: $spacing-1px solid
      light-dark(var(--color-light-outline), var(--color-dark-outline));
    outline-offset: -$spacing-1px;

    &:has(input:not([type='checkbox']):not([type='radio']):focus),
    &:has(textarea:focus) {
      outline: $spacing-3px solid
        light-dark(var(--color-light-primary), var(--color-dark-primary));
      outline-offset: -$spacing-3px;
    }

    textarea {
      height: auto;
      width: 100%;

      &,
      &:hover,
      &:active {
        padding-top: $spacing-24px;
      }

      &:focus,
      &:focus-visible,
      &:not(:placeholder-shown) {
        padding-top: $spacing-12px;
        padding-bottom: $spacing-12px;
      }
    }

    label:not(:has(input)):not(:has(textarea)) {
      position: absolute;
      top: -$spacing-8px;
      left: $spacing-12px;
      padding: 0 $spacing-4px;
      max-width: calc(100% - $spacing-24px);
      @include bg-color(form);
    }

    &.error {
      @include error-outline;

      &:has(input:not([type='checkbox']):not([type='radio']):focus),
      &:has(input:not([type='checkbox']):not([type='radio']):not([value=''])),
      &:has(textarea:focus),
      &:has(textarea:not([value=''])) {
        @include error-outline;
      }
    }
  }
}
